<html>
<head>
	
<script src="js/jsonld.js"></script>
<script src="js/ejs.js"></script>
	
	<script>
	
//----------------------------------------------------------------------------------------
// http://stackoverflow.com/a/25715455
function isObject (item) {
  return (typeof item === "object" && !Array.isArray(item) && item !== null);
}

//----------------------------------------------------------------------------------------
// Convert ISO data to a human-readable string (PubMed-style)
// My databases use -00 to indicate no month or no day, and this confuses Javascript
// Date so we need to set the options appropriately
function isodate_to_string(datestring) {

	// By default assume datestring is a year only
	var options = {};
	options.year = 'numeric';
	
	// Test for valid month, then day (because we use -00 to indicate no data)
	var m = null;
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})$/);
		if (m) {
			// year only
			datestring = m[1]; 
		}
	}
	
	if (!m) {		
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-00/);
		if (m) {
			
			if (m[2] == '00') {
				// Javascript can't handle -00-00 date string so set to January 1st 
				// which won't be output as we're only outputting the year
				datestring = m[1] + '-01-01';
			} else {
				// We have a month but no day
				datestring = m[1] + '-' + m[2] + '-01';
				options.month = 'short';
			}		
		}
	}
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-([0-9]{2})/);
		if (m) {
			// we have yea, month, and day
			options.month = 'short';
			options.day = 'numeric';
		}
	}
	
	var d = new Date(datestring);
	datestring = d.toLocaleString('en-gb', options);
	
	return datestring;		
}

//----------------------------------------------------------------------------------------
function clean_value(value) {
	value = value.replace(/\"/g, '');
	
	var m = value.match(/^(.*)@([a-z]{2})$/);
	if (m) {
		value = {};
		value[m[2]] = m[1];
	}
	
	return value;
}

//----------------------------------------------------------------------------------------
// https://html-online.com/articles/get-url-parameters-javascript/	
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}	
		
//----------------------------------------------------------------------------------------
function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
    if(window.location.href.indexOf(parameter) > -1){
        urlparameter = getUrlVars()[parameter];
        
        urlparameter = decodeURIComponent(urlparameter);
        }
    return urlparameter;
}

//----------------------------------------------------------------------------------------
function render(template) {

	// Render template 	
	html = ejs.render(template);
	
	// Display
	document.getElementById('output').innerHTML = html;
}

//----------------------------------------------------------------------------------------
function display_data(data) {
	var textnode = document.createTextNode(JSON.stringify(data, null, 2));   
	document.getElementById("record").appendChild(textnode); 
}


	</script>
	
	<style>
	body {
		font-family:sans-serif;
		padding:20px;
	}
	</style>
	
</head>
<body>


<div id="output" style="width:500px;">Template output goes here</div>

<p/>
<p/>
<!-- json -->
<div style="border:1px solid rgb(192,192,192);font-family:Courier;font-size:10px;white-space:pre;overflow:auto;" id="record">
</div>


<script>


var template_work = `

<%

// Define functions in template, see https://stackoverflow.com/a/40968695/9684

//----------------------------------------------------------------------------------------
// Get a single string from a literal that may have multilingual values
get_literal = function(key) {
	var literal = '';
	
	// literal is a simple string
	if (typeof key === 'string') {
		literal = key;
	}
	
	// name is an object so we have one language stored in @value
	if (typeof key === 'object' && !Array.isArray(key)) {	
		literal = key['@value'];
	} else {
		// name is an array of objects and/or strings (need to think about this)
		if (Array.isArray(key)) {
			literal = key[0]['@value'];
		}
	}
	
	return literal;
}

//----------------------------------------------------------------------------------------
// Convert ISO data to a human-readable string (PubMed-style)
// My databases use -00 to indicate no month or no day, and this confuses Javascript
// Date so we need to set the options appropriately
isodate_to_string = function (datestring) {

	// By default assume datestring is a year only
	var options = {};
	options.year = 'numeric';
	
	// Test for valid month, then day (because we use -00 to indicate no data)
	var m = null;
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})$/);
		if (m) {
			// year only
			datestring = m[1]; 
		}
	}
	
	if (!m) {		
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-00/);
		if (m) {
			
			if (m[2] == '00') {
				// Javascript can't handle -00-00 date string so set to January 1st 
				// which won't be output as we're only outputting the year
				datestring = m[1] + '-01-01';
			} else {
				// We have a month but no day
				datestring = m[1] + '-' + m[2] + '-01';
				options.month = 'short';
			}		
		}
	}
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-([0-9]{2})/);
		if (m) {
			// we have yea, month, and day
			options.month = 'short';
			options.day = 'numeric';
		}
	}
	
	var d = new Date(datestring);
	datestring = d.toLocaleString('en-gb', options);
	
	return datestring;		
}

//----------------------------------------------------------------------------------------

get_property_value = function(key, propertyID) {
	var value = '';
	
	if (typeof key === 'object' && !Array.isArray(key)) {	
		value = key.value;
	} else {
		if (Array.isArray(key)) {
			for (var i in key) {
				if (key[i].propertyID === propertyID) {
					value = key[i].value;
				}
			}
		}	
	}
	
	return value;
}

%>


<%

var item = null;

item = data['@graph'][0]; // root of graph with single item

//item = data;

%>

<!-- location -->
<div style="font-size:0.7em;">

<!-- container -->
<% if (item.isPartOf) {%>
	<u>
		<%= get_literal(item.isPartOf.name) %>
	</u>
<% } %>

<!-- date -->
<% if (item.datePublished) {%>
<%= isodate_to_string(item.datePublished) %>
<% } %>

<!-- volume -->
<% if (item.volumeNumber) {%>
<%= get_literal(item.volumeNumber) %>
<% } %>

<!-- issue -->
<% if (item.issueNumber) {%>
(<%= get_literal(item.issueNumber) %>)
<% } %>

<!-- pages -->
<% if (item.pagination) {%>
: <%= get_literal(item.pagination) %>
<% } %>


</div>

<!-- title -->
<div style="font-size:18px;font-weight:bold;margin-top:0.5em;">
	<%= get_literal(item.name) %>
</div>

<!-- authors -->
<div style="font-size:0.8em;margin-top:0.5em;">

<% if (item.creator) {
	var authors = [];
		for (var i in item.creator) {
			// role
			if (item.creator[i]['@type'] == 'Role') { 
				authors.push('<u>' + get_literal(item.creator[i].creator.name) + '</u>');
			}

			// perosn
			if (item.creator[i]['@type'] == 'Person') { 
				authors.push('<u>' + get_literal(item.creator[i].name) + '</u>');
			}
		
		}
		var author_string = authors.join(', ');
		%>
		<%- author_string %>
		<%  
		
		
} %>
</div>

<!-- keywords -->
<div style="font-size:0.8em;margin-top:0.5em;">

<% if (item.keywords) {
	var keywords = [];
		for (var i in item.keywords) {
			keywords.push(item.keywords[i]);
		}
		var keywords_string = keywords.join('; ');
		%>
		<b>KEYWORDS:</b>
		<%- keywords_string %>
		<%  
} %>
</div>


<!-- identifiers -->
<div style="font-size:0.7em;margin-top:0.5em;">
<% if (item.identifier) {
	 var id = '';
	 
	// DOI
	id = get_property_value(item.identifier, 'doi');	  
	if (id != '') {  %>	
		DOI:
		<a href="https://doi.org/<%=id%>">
		<%= id %>
		</a>
	<% }
	
	// PMID
	id = get_property_value(item.identifier, 'pmid');	  
	if (id != '') {  %>	
		PMID:
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/<%=id%>">
		<%= id %>
		</a>
	<% }
	
	}
 %>	
 </div>	

`;

var template_taxon_name = `

<%

// Define functions in template, see https://stackoverflow.com/a/40968695/9684

//----------------------------------------------------------------------------------------
// Get a single string from a literal that may have multilingual values
get_literal = function(key) {
	var literal = '';
	
	// literal is a simple string
	if (typeof key === 'string') {
		literal = key;
	}
	
	// name is an object so we have one language stored in @value
	if (typeof key === 'object' && !Array.isArray(key)) {	
		literal = key['@value'];
	} else {
		// name is an array of objects and/or strings (need to think about this)
		if (Array.isArray(key)) {
			literal = key[0]['@value'];
		}
	}
	
	return literal;
}

//----------------------------------------------------------------------------------------
// Convert ISO data to a human-readable string (PubMed-style)
// My databases use -00 to indicate no month or no day, and this confuses Javascript
// Date so we need to set the options appropriately
isodate_to_string = function (datestring) {

	// By default assume datestring is a year only
	var options = {};
	options.year = 'numeric';
	
	// Test for valid month, then day (because we use -00 to indicate no data)
	var m = null;
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})$/);
		if (m) {
			// year only
			datestring = m[1]; 
		}
	}
	
	if (!m) {		
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-00/);
		if (m) {
			
			if (m[2] == '00') {
				// Javascript can't handle -00-00 date string so set to January 1st 
				// which won't be output as we're only outputting the year
				datestring = m[1] + '-01-01';
			} else {
				// We have a month but no day
				datestring = m[1] + '-' + m[2] + '-01';
				options.month = 'short';
			}		
		}
	}
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-([0-9]{2})/);
		if (m) {
			// we have yea, month, and day
			options.month = 'short';
			options.day = 'numeric';
		}
	}
	
	var d = new Date(datestring);
	datestring = d.toLocaleString('en-gb', options);
	
	return datestring;		
}

//----------------------------------------------------------------------------------------

get_property_value = function(key, propertyID) {
	var value = '';
	
	if (typeof key === 'object' && !Array.isArray(key)) {	
		value = key.value;
	} else {
		if (Array.isArray(key)) {
			for (var i in key) {
				if (key[i].propertyID === propertyID) {
					value = key[i].value;
				}
			}
		}	
	}
	
	return value;
}

%>


<%

var item = null;

item = data['@graph'][0]; // root of graph with single item

//item = data;

%>

<!-- title -->
<div style="font-size:18px;font-weight:bold;margin-top:0.5em;">
	<%= get_literal(item['dc:title']) %>
</div>

<!-- publishedIn -->
<div style="font-size:0.7em;margin-top:0.5em;">
	<%= get_literal(item['tcom:publishedIn']) %>

	<% if (item['tcom:microreference']) { %>
	(see page <%= get_literal(item['tcom:microreference']) %> )
	<% } %>


	<%= get_literal(item['dwc:namePublishedIn']) %>
	
	<% if (item['nmbe:publishedOnPage']) { %>
	(see page <%= get_literal(item['nmbe:publishedOnPage']) %> )
	<% } %>
	
	
</div>

<!-- identifiers -->
<div style="font-size:0.7em;margin-top:0.5em;">

		LSID:
		<a href="http://www.lsid.info/<%=item['@id']%>">
		<%= item['@id'] %>
		</a>
	
	
</div>

`;



var data = {
    "@context": {
        "@vocab": "http://schema.org/",
        "creator": {
            "@id": "http://schema.org/creator"
        },
        "identifier": {
            "@id": "http://schema.org/identifier",
            "@container": "@set"
        },
        "sameAs": {
            "@id": "http://schema.org/sameAs",
            "@container": "@set"
        }
    },
    "@graph": [
        {
            "@id": "http://www.wikidata.org/entity/Q21191815",
            "@type": "ScholarlyArticle",
            "creator": [
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#role/1",
                    "@type": "Role",
                    "creator": {
                        "@id": "http://www.wikidata.org/entity/Q21191815#creator_1",
                        "@type": "Person",
                        "name": "Megan Short"
                    },
                    "roleName": "1"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#role/2",
                    "@type": "Role",
                    "creator": {
                        "@id": "http://www.wikidata.org/entity/Q21502466",
                        "@type": "Person",
                        "name": [
                            {
                                "@language": "en",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "nl",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "es",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "ast",
                                "@value": "Cuong Huynh"
                            }
                        ],
                        "sameAs": [
                            "https://orcid.org/0000-0002-2571-4507"
                        ]
                    },
                    "roleName": "2"
                }
            ],
            "datePublished": "2013-03-21",
            "identifier": [
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#pmid",
                    "@type": "PropertyValue",
                    "propertyID": "pmid",
                    "value": "23794829"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#doi",
                    "@type": "PropertyValue",
                    "propertyID": "doi",
                    "value": "10.3897/zookeys.278.4765"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#zoobank",
                    "@type": "PropertyValue",
                    "propertyID": "zoobank",
                    "value": "urn:lsid:zoobank.org:pub:D7588A4E-D06E-4524-BB49-AC16C3FEC849"
                }
            ],
            "isPartOf": {
                "@id": "http://www.wikidata.org/entity/Q219980",
                "@type": "Periodical",
                "issn": [
                    "1313-2989",
                    "1313-2970"
                ],
                "name": {
                    "@language": "en",
                    "@value": "ZooKeys"
                }
            },
            "issueNumber": "278",
            "name": {
                "@language": "en",
                "@value": "Four new species of Unixenus Jones, 1944 (Diplopoda, Penicillata, Polyxenida) from Australia"
            },
            "pagination": "75-90",
            "sameAs": [
                "https://doi.org/10.3897/zookeys.278.4765",
                "urn:lsid:zoobank.org:pub:D7588A4E-D06E-4524-BB49-AC16C3FEC849"
            ],
            "volumeNumber": "278"
        }
    ]
};




/*
data = {
  "description": "Ferguson, D.J., Glatz, R.V., Yeates, D. K. (2019): New stiletto flies in the genus Anabarhynchus Macquart (Diptera: Therevidae) from Kangaroo Island, South Australia. Zootaxa 4646 (2): 331-345, DOI: https://doi.org/10.11646/zootaxa.4646.2.8", 
  "creator": [
    {
      "@type": "Person", 
      "name": "Ferguson, D.J."
    }, 
    {
      "@type": "Person", 
      "name": "Glatz, R.V."
    }, 
    {
      "@type": "Person", 
      "name": "Yeates, D. K."
    }
  ], 
  "hasPart": [
    {
      "@id": "http://treatment.plazi.org/id/EA2F87DF264EFFF4D7E5FA537F88FD9C", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://treatment.plazi.org/id/EA2F87DF264AFFFBD7E5FDE87B85FE54", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://treatment.plazi.org/id/EA2F87DF2645FFFFD7E5FDA07D78FE98", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349267", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349267", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349269", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349269", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349273", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349273", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349275", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349275", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349279", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349279", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349283", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349283", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349287", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349287", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349289", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349289", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349293", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349293", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.5281/zenodo.3349297", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "http://zenodo.org/record/3349297", 
      "@type": "CreativeWork"
    }
  ], 
  "image": "https://zenodo.org/static/img/logos/zenodo-gradient-round.svg", 
  "citation": [
    {
      "@id": "https://doi.org/10.5962/bhl.title.15792", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.11646/zootaxa.3680.1.6", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.11646/zootaxa.3802.4.7", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.3897/BDJ.2.e4016", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.1163/ej.9789004148970.I-459.65", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.1111/syen.12115", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.1071/IS08035", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.11646/zootaxa.1295.1.1", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.11646/zootaxa.1372.1.2", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.3897/zookeys.95.1461", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.1111/syen.12147", 
      "@type": "CreativeWork"
    }, 
    {
      "@id": "https://doi.org/10.1071/IT97029", 
      "@type": "CreativeWork"
    }
  ], 
  "datePublished": "2019-07-24", 
  "url": "https://zenodo.org/record/3349265", 
  "headline": "New stiletto flies in the genus Anabarhynchus Macquart (Diptera: Therevidae) from Kangaroo Island, South Australia", 
  "keywords": [
    "Biodiversity", 
    "Taxonomy", 
    "Animalia", 
    "Arthropoda", 
    "Insecta", 
    "Diptera", 
    "Therevidae"
  ], 
  "@context": "https://schema.org/", 
  "identifier": "https://doi.org/10.11646/zootaxa.4646.2.8", 
  "@id": "https://doi.org/10.11646/zootaxa.4646.2.8", 
  "@type": "ScholarlyArticle", 
  "name": "New stiletto flies in the genus Anabarhynchus Macquart (Diptera: Therevidae) from Kangaroo Island, South Australia"
};

*/

// taxonomic names

data = {
    "@context": {
        "@vocab": "http://rs.tdwg.org/ontology/voc/TaxonName#",
        "tcom": "http://rs.tdwg.org/ontology/voc/Common#",
        "dc": "http://purl.org/dc/elements/1.1/",
        "rdfs": "http://www.w3.org/2000/01/rdf-schema#"
    },
    "@graph": [
        {
            "@id": "urn:lsid:organismnames.com:name:1609635",
            "@type": "TaxonName",
            "dc:creator": {
                "@id": "http://organismnames.com"
            },
            "dc:identifier": "urn:lsid:organismnames.com:name:1609635",
            "dc:title": "Paraulopus okamurai",
            "tcom:microreference": "396",
            "tcom:publishedIn": "Two new species of Paraulopus (Osteichthyes: Aulopiformes) from New Zealand and eastern Australia and comparisons with P. nigripinnis. Species Diversity, 7(4), November 2002: 393-404.  396 [Zoological Record Volume 139]",
            "nameComplete": "Paraulopus okamurai",
            "nomenclaturalCode": {
                "@id": "http://rs.tdwg.org/ontology/voc/TaxonName#ICZN"
            },
            "rdfs:seeAlso": {
                "@id": "http://organismnames.com/namedetails.htm?lsid=1609635"
            }
        }
    ]
};

data = {
    "@context": {
        "@vocab": "http://rs.tdwg.org/ontology/voc/TaxonName#",
        "tcom": "http://rs.tdwg.org/ontology/voc/Common#",
        "tc": "http://rs.tdwg.org/ontology/voc/TaxonConcept#",
        "dwc": "http://rs.tdwg.org/dwc/terms/",
        "dcterms": "http://purl.org/dc/terms/",
        "dc": "http://purl.org/dc/elements/1.1/",
        "nmbe": "urn:lsid:nmbe.ch:predicates:"
    },
    "@graph": [
        {
            "@id": "urn:lsid:nmbe.ch:spidersp:049015",
            "dc:creator": {
                "@id": "http://www.wsc.nmbe.ch"
            },
            "dc:date": "2019-07-10",
            "dc:identifier": "urn:lsid:nmbe.ch:spidersp:049015",
            "dc:subject": "Ochyrocera jarocha Valdez-Mondragón, 2017",
            "dc:title": "Ochyrocera jarocha",
            "dc:type": "Scientific Name",
            "dwc:namePublishedIn": "Valdez-Mondragón, A. (2017). On the poorly known haplogynae spiders of the genus Ochyrocera Simon (Araneae, Ochyroceratidae) from Mexico: description of two new species with an updated identification key for Mexican species. Zootaxa 4226(2): 194-204.",
            "dwc:nomenclaturalCode": "ICZN",
            "dwc:taxonRank": "species",
            "tc:hasInformation": {
                "@id": "https://wsc.nmbe.ch/species/55430"
            },
            "authorship": "Valdez-Mondragón",
            "genusPart": "Ochyrocera",
            "infraspecificEpithet": "",
            "nameComplete": "Ochyrocera jarocha",
            "specificEpithet": "jarocha",
            "year": "2017",
            "nmbe:publishedOnPage": "196",
            "nmbe:statusString": "VALID"
        }
    ]
}
;

display_data(data);

//render(template_work);
render(template_taxon_name);


</script>
</body>
</html>

