<html>
<head>
	
<script src="js/jsonld.js"></script>
<script src="js/ejs.js"></script>
	
	<script>
	
//----------------------------------------------------------------------------------------
// http://stackoverflow.com/a/25715455
function isObject (item) {
  return (typeof item === "object" && !Array.isArray(item) && item !== null);
}

//----------------------------------------------------------------------------------------
// Convert ISO data to a human-readable string (PubMed-style)
// My databases use -00 to indicate no month or no day, and this confuses Javascript
// Date so we need to set the options appropriately
function isodate_to_string(datestring) {

	// By default assume datestring is a year only
	var options = {};
	options.year = 'numeric';
	
	// Test for valid month, then day (because we use -00 to indicate no data)
	var m = null;
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})$/);
		if (m) {
			// year only
			datestring = m[1]; 
		}
	}
	
	if (!m) {		
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-00/);
		if (m) {
			
			if (m[2] == '00') {
				// Javascript can't handle -00-00 date string so set to January 1st 
				// which won't be output as we're only outputting the year
				datestring = m[1] + '-01-01';
			} else {
				// We have a month but no day
				datestring = m[1] + '-' + m[2] + '-01';
				options.month = 'short';
			}		
		}
	}
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-([0-9]{2})/);
		if (m) {
			// we have yea, month, and day
			options.month = 'short';
			options.day = 'numeric';
		}
	}
	
	var d = new Date(datestring);
	datestring = d.toLocaleString('en-gb', options);
	
	return datestring;		
}

//----------------------------------------------------------------------------------------
function clean_value(value) {
	value = value.replace(/\"/g, '');
	
	var m = value.match(/^(.*)@([a-z]{2})$/);
	if (m) {
		value = {};
		value[m[2]] = m[1];
	}
	
	return value;
}

//----------------------------------------------------------------------------------------
// https://html-online.com/articles/get-url-parameters-javascript/	
function getUrlVars() {
    var vars = {};
    var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(m,key,value) {
        vars[key] = value;
    });
    return vars;
}	
		
//----------------------------------------------------------------------------------------
function getUrlParam(parameter, defaultvalue){
    var urlparameter = defaultvalue;
    if(window.location.href.indexOf(parameter) > -1){
        urlparameter = getUrlVars()[parameter];
        
        urlparameter = decodeURIComponent(urlparameter);
        }
    return urlparameter;
}

//----------------------------------------------------------------------------------------
function render(template) {

	// Render template 	
	html = ejs.render(template);
	
	// Display
	document.getElementById('output').innerHTML = html;
}

//----------------------------------------------------------------------------------------
function display_data(data) {
	var textnode = document.createTextNode(JSON.stringify(data, null, 2));   
	document.getElementById("record").appendChild(textnode); 
}


	</script>
	
	<style>
	body {
		font-family:sans-serif;
		padding:20px;
	}
	</style>
	
</head>
<body>


<div id="output" style="width:500px;">Template output goes here</div>

<p/>
<p/>
<!-- json -->
<div style="border:1px solid rgb(192,192,192);font-family:Courier;font-size:10px;white-space:pre;overflow:auto;" id="record">
</div>


<script>


var template_work = `

<%

//----------------------------------------------------------------------------------------
// Get a single string from a literal that may have multilingual values
get_literal = function(key) {
	var literal = '';
	
	// literal is a simple string
	if (typeof key === 'string') {
		literal = key;
	}
	
	// name is an object so we have one language stored in @value
	if (typeof key === 'object' && !Array.isArray(key)) {	
		literal = key['@value'];
	} else {
		// name is an array of objects and/or strings (need to think about this)
		if (Array.isArray(key)) {
			literal = key[0]['@value'];
		}
	}
	
	return literal;
}

//----------------------------------------------------------------------------------------
// Convert ISO data to a human-readable string (PubMed-style)
// My databases use -00 to indicate no month or no day, and this confuses Javascript
// Date so we need to set the options appropriately
isodate_to_string = function (datestring) {

	// By default assume datestring is a year only
	var options = {};
	options.year = 'numeric';
	
	// Test for valid month, then day (because we use -00 to indicate no data)
	var m = null;
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})$/);
		if (m) {
			// year only
			datestring = m[1]; 
		}
	}
	
	if (!m) {		
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-00/);
		if (m) {
			
			if (m[2] == '00') {
				// Javascript can't handle -00-00 date string so set to January 1st 
				// which won't be output as we're only outputting the year
				datestring = m[1] + '-01-01';
			} else {
				// We have a month but no day
				datestring = m[1] + '-' + m[2] + '-01';
				options.month = 'short';
			}		
		}
	}
	
	if (!m) {	
		m = datestring.match(/^([0-9]{4})-([0-9]{2})-([0-9]{2})/);
		if (m) {
			// we have yea, month, and day
			options.month = 'short';
			options.day = 'numeric';
		}
	}
	
	var d = new Date(datestring);
	datestring = d.toLocaleString('en-gb', options);
	
	return datestring;		
}

//----------------------------------------------------------------------------------------

get_property_value = function(key, propertyID) {
	var value = '';
	
	if (typeof key === 'object' && !Array.isArray(key)) {	
		value = key.value;
	} else {
		if (Array.isArray(key)) {
			for (var i in key) {
				if (key[i].propertyID === propertyID) {
					value = key[i].value;
				}
			}
		}	
	}
	
	return value;
}

%>


<%

var item = data['@graph'][0];

%>

<!-- location -->
<div style="font-size:0.7em;">

<!-- container -->
<% if (item.isPartOf) {%>
	<u>
		<%= get_literal(item.isPartOf.name) %>
	</u>
<% } %>

<!-- date -->
<% if (item.datePublished) {%>
<%= isodate_to_string(item.datePublished) %>
<% } %>

<!-- volume -->
<% if (item.volumeNumber) {%>
<%= get_literal(item.volumeNumber) %>
<% } %>

<!-- issue -->
<% if (item.issueNumber) {%>
(<%= get_literal(item.issueNumber) %>)
<% } %>

<!-- pages -->
<% if (item.pagination) {%>
: <%= get_literal(item.pagination) %>
<% } %>


</div>

<!-- title -->
<div style="font-size:18px;font-weight:bold;margin-top:0.5em;">
	<%= get_literal(data['@graph'][0].name) %>
</div>

<!-- authors -->

<div style="font-size:0.8em;margin-top:0.5em;">

<% if (item.creator) {
	var authors = [];
		for (var i in item.creator) {
			// role
			
			
			if (item.creator[i]['@type'] == 'Role') { 
				authors.push('<u>' + get_literal(item.creator[i].creator.name) + '</u>');
			}
		
		}
		var author_string = authors.join(', ');
		%>
		<%- author_string %>
		<%  
		
		
} %>
</div>


<!-- identifiers -->
<div style="font-size:0.7em;margin-top:0.5em;">
<% if (item.identifier) {
	 var id = '';
	 
	// DOI
	id = get_property_value(item.identifier, 'doi');	  
	if (id != '') {  %>	
		DOI:
		<a href="https://doi.org/<%= id %>">
		<%= id %>
		</a>
	<% }
	
	// PMID
	id = get_property_value(item.identifier, 'pmid');	  
	if (id != '') {  %>	
		PMID:
		<a href="https://www.ncbi.nlm.nih.gov/pubmed/<%= id %>">
		<%= id %>
		</a>
	<% }
	
	}
 %>	
 </div>	

`;


var data = {
    "@context": {
        "@vocab": "http://schema.org/",
        "creator": {
            "@id": "http://schema.org/creator"
        },
        "identifier": {
            "@id": "http://schema.org/identifier",
            "@container": "@set"
        },
        "sameAs": {
            "@id": "http://schema.org/sameAs",
            "@container": "@set"
        }
    },
    "@graph": [
        {
            "@id": "http://www.wikidata.org/entity/Q21191815",
            "@type": "ScholarlyArticle",
            "creator": [
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#role/1",
                    "@type": "Role",
                    "creator": {
                        "@id": "http://www.wikidata.org/entity/Q21191815#creator_1",
                        "@type": "Person",
                        "name": "Megan Short"
                    },
                    "roleName": "1"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#role/2",
                    "@type": "Role",
                    "creator": {
                        "@id": "http://www.wikidata.org/entity/Q21502466",
                        "@type": "Person",
                        "name": [
                            {
                                "@language": "en",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "nl",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "es",
                                "@value": "Cuong Huynh"
                            },
                            {
                                "@language": "ast",
                                "@value": "Cuong Huynh"
                            }
                        ],
                        "sameAs": [
                            "https://orcid.org/0000-0002-2571-4507"
                        ]
                    },
                    "roleName": "2"
                }
            ],
            "datePublished": "2013-03-21",
            "identifier": [
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#pmid",
                    "@type": "PropertyValue",
                    "propertyID": "pmid",
                    "value": "23794829"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#doi",
                    "@type": "PropertyValue",
                    "propertyID": "doi",
                    "value": "10.3897/zookeys.278.4765"
                },
                {
                    "@id": "http://www.wikidata.org/entity/Q21191815#zoobank",
                    "@type": "PropertyValue",
                    "propertyID": "zoobank",
                    "value": "urn:lsid:zoobank.org:pub:D7588A4E-D06E-4524-BB49-AC16C3FEC849"
                }
            ],
            "isPartOf": {
                "@id": "http://www.wikidata.org/entity/Q219980",
                "@type": "Periodical",
                "issn": [
                    "1313-2989",
                    "1313-2970"
                ],
                "name": {
                    "@language": "en",
                    "@value": "ZooKeys"
                }
            },
            "issueNumber": "278",
            "name": {
                "@language": "en",
                "@value": "Four new species of Unixenus Jones, 1944 (Diplopoda, Penicillata, Polyxenida) from Australia"
            },
            "pagination": "75-90",
            "sameAs": [
                "https://doi.org/10.3897/zookeys.278.4765",
                "urn:lsid:zoobank.org:pub:D7588A4E-D06E-4524-BB49-AC16C3FEC849"
            ],
            "volumeNumber": "278"
        }
    ]
};

/*
data = {
    "@context": {
        "@vocab": "http://schema.org/"
    },
    "@graph": [
        {
            "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008",
            "@type": "ScholarlyArticle",
            "creator": [
                {
                    "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/1"
                },
                {
                    "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/2"
                },
                {
                    "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/3"
                },
                {
                    "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/4"
                }
            ],
            "datePublished": "2005",
            "identifier": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008",
            "name": "\u6dee\u5357\u5730\u5340\u5132\u85cf\u4e2d\u85e5\u6750\u5b73\u751f\u7c89\u87a8\u7684\u7fa4\u843d\u7d44\u6210\u53ca\u591a\u6a23\u6027"
        },
        {
            "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/1",
            "creator": "\u674e\u671d\u54c1"
        },
        {
            "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/2",
            "creator": "\u6c5f\u4f73\u4f73"
        },
        {
            "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/3",
            "creator": "\u8cc0\u9a65"
        },
        {
            "@id": "https://doi.org/10.3969/j.issn.1005-9628.2005.02.008#creator/4",
            "creator": "\u738b\u6167\u52c7"
        }
    ]
};
*/



display_data(data);

render(template_work);


</script>
</body>
</html>

